styles.css

.my-form {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f7f7f7;
  
  }
  
  .my-form label {
    display: block;
    margin-bottom: 10px;
  } 
  
  .my-form input[type="text"],
  .my-form input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;

  }
  
  .my-form button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

  } 
  
   .my-form button:hover {
    background-color: #0062cc;
  } 


 
  li{
    color:black;
  }

.f > h1{
  margin-top: 30px;
  margin-bottom: 30px;
  
  text-align: center;
}
.f>form{
  margin: auto;
  width: 60%;

}
.home-card{
  width: 60%;
  margin: auto;
}